.Label{
    width: 1500px;
    background-color: white;
}

h1{
    background-color: wheat;
    color: black;
}

h2{
    width: 1500px;
    background-color: white;
    color: black;
}

.text{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
