.Casillero{
    display: flex;
    justify-content: space-between;
}

.Casilla{
    width: 610px;
    color: black;
    background-color: white;
    text-align: left;
    padding: 50px;
    font-size: 20px;
    flex: 1;
}

.Casilla2{
    width: 610px;
    color: black;
    background-color: white;
    text-align: left;
    padding: 50px;
    font-size: 20px;
    flex: 1;
}

h1{
    color: black;
    border: 1px solid red;
}

h2{
    width: 610px;
    font-size: 15px;
    background-color: white;
}

.text{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

img{
    zoom: 100%;
}